
<%= hidden_calendar_id %>

<div class="addevents">
<%= f.text_group "Title", :title, :required => true  %>
<p>
<label for="sample_starts_at">Starting</label>
<%= f.calendar_date_select :starts_at, :embedded => false %>
</p>
<p>
<label for="sample_ends_at">Ending</label>
<%= f.calendar_date_select :ends_at, :embedded => false %>
</p>
<%= f.text_area_group "Description", :description, {:rows => 6 } %>
</div>

