<h1>Editing event</h1>

<% form_for([@calendar, @event]) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => "form_fields", :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [@calendar, @event] %> |
<%= link_to 'Back', calendar_path(@calendar) %>
