
<%= render :partial => "small_calendar", :locals => { :year => @year, :month => @month, :calendar => @calendar } %>

<div id="event_list">
	<ul>
	<% current_day = 0 %>
	<% @calendar.events_in_month(@date).each do |event| %>
		<% if event.starts_at_local.mday != current_day %>
			<% current_day = event.starts_at_local.mday %>
			</ul>
			<li><%= event.starts_at_local %></li>
			<ul class="day_list" id="day_<%= current_day %>">
		<% end %>
		<li><%= link_to event.title, url_for([@calendar, event]), {:class => "event_title_link"} %></li>
	<% end %>
	</ul>
	</ul>
</div>


<% content_for :header do %>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'ui.core' %>
<%= javascript_include_tag 'ui.draggable' %>
<link rel='stylesheet' type='text/css' href='/stylesheets/fullcalendar.css' />
<%= javascript_include_tag 'fullcalendar/fullcalendar.min' %>
	
	<script>
	$(document).ready(function() {
	
		$('#full-js-calendar').fullCalendar({
			events: "/calendars/1.json"
		

		})
	});
	
	</script>
<% end %>

<div id="full-js-calendar">
	
</div>

<%= link_to 'Add Event', new_calendar_event_path(@calendar) %> |


<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
